body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  letter-spacing: 0.5px;
  font-family: "Poppins";
}

.sidenav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #747675;
  position: fixed;
  height: 100%;
}

.sidenav li a {
  display: block;
  font-size: 1.2em;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.sidenav li a:hover {
  background-color: #555;
  color: #000;
}

main{
  margin-left: 20%;
  padding: 1px 20px;
  height: fit-content;
  background-color: #272e47;
  color: #fff;
  text-align: left;
  
}

.content{
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
}

#profile-pic img{
  width: 300px;
  border-radius: 50%;
  height: auto;
  object-fit: cover;
  padding: 10px;
}

#experience{
  width: 100%;
}

.exp-container{
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.exp-year{
  width: 250px;
}

#my-project{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  margin: 10px auto;
  border: 2px solid #3f3c52;
  border-radius: 10px;
  text-align: center;
}

.project:hover{
  opacity: 0.7;
}

.project img{
  width: 300px;
  object-fit: contain;
  border-radius: 10px;

}
main a{
  color: #4ec9cb;
  margin-bottom: 20px;
  text-decoration: none;
}

footer{
  margin-left: 20%;
  padding: 20px;
  background-color: #747675;
  color: #fff;
}

footer a{
  color: #c5c5c5;
}

footer a:hover{
  color: #fff;
}

@media screen and (max-width: 700px) {
               
     .sidenav {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 99;
    }
    
    .sidenav li a {
        float: left;
        padding: 15px;
    }
    
    main {
        margin-left: 0;
        height: fit-content;
    }

    #home, #about, #portfolio{
      padding-top: 20px;
    }

    .exp-container{
      display: block;
      padding-top: 20px;
    }

    footer{
      margin-left: 0;
      text-align: center;
    }
}
