body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  letter-spacing: 0.5px;
  font-family: "Poppins";
}

.sidenav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #747675;
  position: fixed;
  height: 100%;
}

.sidenav li a {
  display: block;
  font-size: 1.2em;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.sidenav li a:hover {
  background-color: #555;
  color: #000;
}

main{
  margin-left: 20%;
  padding: 1px 20px;
  height: fit-content;
  background-color: #272e47;
  color: #fff;
  text-align: left;
  background-image: linear-gradient(to bottom, #687791, #0B1D3A);
  
}

.content{
  height: fit-content;
  padding: 10px 10px;
}

#home-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#profile-desc{
  width: 60%;
}

.profile-contact{
  width: 50%;
}

#profile-contact-img{
  width: 30px;
  height: 30px;
  color: white;
}

#profile-pic img{
  width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}


#experience{
  width: 100%;
}

.exp-container{
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.exp-year{
  width: 250px;
}

#my-project{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  margin: 10px auto;
  border: 2px solid #3f3c52;
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  padding-bottom: 20px;
}

.project a:hover{
  color: #fff;
}

.project:hover{
  opacity: 0.7;
}

.project img{
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
main a{
  color: #4ec9cb;
  margin-bottom: 20px;
  text-decoration: none;
}

footer{
  margin-left: 20%;
  padding: 20px;
  background-color: #747675;
  color: #fff;
}

footer a{
  color: #c5c5c5;
}

footer a:hover{
  color: #fff;
}

@media screen and (max-width: 800px) {
               
     .sidenav {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 99;
    }
    
    .sidenav li a {
        float: left;
        padding: 15px;
    }
    
    main {
        margin-left: 0;
        height: fit-content;
    }

    .content{
      padding: 10px;
    }

    #home, #about, #portfolio{
      padding-top: 50px;
    }

    #profile-desc{
      width: 100%;
    }

    .project img{
      width: 300px;
    }

    .exp-container{
      display: block;
      padding-top: 20px;
    }

    footer{
      margin-left: 0;
      text-align: center;
    }
}
